.card {
    padding-bottom: 20px;
}
.step-list {
    margin:0 20px;
    border-bottom: 1px solid #D2D8DF;
    border-top: 1px solid #D2D8DF;
    height:380px;
    overflow-y: auto;
}
.step-item {
    height:40px;
    display:flex;
    align-items: center;
    border-bottom: 1px solid #D2D8DF;
}
.step-icon {
    height:25px;
    display: block;
    margin-right: 20px;
}