.main {
  margin-left: 250px;
  background: #e6e9ed;
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
  top:0;
  left:0;
}

.body {
  padding: 80px 30px 30px;
}

.card {
  box-shadow: 0 3px 6px #00000029;
  background:#fff;
  border-radius: 3px;
}

.card-header {
  padding:20px;
  color: #7A8AA0;
  font-weight: 700;
}
